.arrow-list {
            list-style: none;
            padding-left: 0;
        }
        .arrow-list li::before {
            content: "➤ ";
            color: black;
            margin-right: 5px;
        }
/* for desktop view */
@media(min-width:992px){
    .full-screen{
        /* padding: 10px; */
    }

}
/* for tablet view */
@media(min-width:768) and (max-width: 991px){
    .full-screen{
        /* padding: 10px; */
    }
}
/* for mobile view */
@media(min-width:767px){    
    .full-screen{
        /* padding: 10px; */
    }
}        