<div class="">
    <div class="border p-3" style="background-color: rgb(240, 248, 255);">
        <div class="row mt-2 ">
            <div class="col-md-4 text-center border"> <img class="h-100 w-100"
                    src="../../../../assets/images/photo_2025-05-21_12-39-09.jpg"></div>
            <div class="col-md-8">
                <p>COURSE - SELF PACED</p>
                <h5>Performace Fees - Basic Concepts</h5>
                <p>ATTENDED</p>
                <div class="d-flex align-items-center justify-content-between flex-sm-column">
                    <div class="text-right d-flex flex-column flex-sm-row gap-5">
                        <p>Completion Status</p>
                        <div class="mt-2 ml-2 progress" style="width: 100%;">
                            <div role="progressbar" class="progress-bar" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100" style="width: 60%;">60%</div>
                        </div>

                        <a href="/slide2">
                            <button type="button" class="btn btn-primary  text-light  btn btn-primary">
                                <p style="color: white; text-decoration: none; margin: 0px; padding: 0px;">Start</p>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" mt-4">
        <div class="row">
            <div class="col-4 border-end">
                <h6 class="bg-primary text-white p-2">Introduction to Performace Fees - Basic Concepts</h6>
                <ul class="arrow-list fs-6">
                    <li> Title Slide</li>
                    <li> Learning Objectives</li>
                    <li>Performance Fees Basic Concept</li>
                    <li>GAV vs NAV</li>
                    <li>High Water Mark (HWM) Introduction</li>
                    <li>Performance Fee Lifecycle & HWM</li>
                    <li>HWM Example</li>
                    <li>Knowledge Check</li>
                    <li> Knowledge Check Explanation</li>
                    <li>Hurdle Rate – Concept</li>
                    <li> Hurdle Rate Continued</li>
                    <li> Closing Remarks</li>
                </ul>
            </div>
            <div class="col-8">
                <nav class="nav mb-4 border-bottom"><button class="nav-link fw-medium" aria-current="page"
                        style="cursor: pointer;">DETAILS</button><button
                        class="nav-link fw-medium">ACTIVITIES</button><button class="nav-link fw-medium">SIMILAR
                        ACTIVITIES</button></nav>
                <div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item border" style="background-color: rgb(240, 248, 255);">
                            <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">Full Description</button></h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body fs-6 text-align">
                                    This document provides a foundational
                                    overview of performance fees in fund accounting, focusing on how
                                    and when they are applied in investment funds. It covers key
                                    concepts such as Gross Asset Value (GAV), Net Asset Value (NAV),
                                    and the importance of calculating performance fees based on accurate, fee adjusted
                                    values.
                                    <br>
                                    Core components like the High Water Mark (HWM) are explained ensuring that fund
                                    managers only
                                    earn fees when surpassing previous value peaks and the Hurdle
                                    Rate, which sets a minimum required return before fees apply.
                                    Through examples and a knowledge check, the material illustrates
                                    how performance fees are accrued only when a fund is “in
                                    performance.” The document emphasizes the need to understand
                                    fund specific terms and encourages diligence in reading fund
                                    documentation, particularly when hurdle rates or benchmarks like
                                    LIBOR or S&P 500 are involved.

                                </div>
                            </div>
                            <div class="accordion-item border" style="background-color: rgb(240, 248, 255);">
                                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                        aria-expanded="false" aria-controls="flush-collapseTwo">Schedule and
                                        Pricing</button></h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                </div>
                                <div class="accordion-item border" style="background-color: rgb(240, 248, 255);">
                                    <h2 class="accordion-header"><button class="accordion-button collapsed"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                                            aria-controls="flush-collapseThree">Additional
                                            Information</button></h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>