<div class="slide3 d-flex align-items-center justify-content-center">
    <div class="container row w-100">

        <div class="col-md-6 text-light d-flex flex-column justify-content-center">
            <h1 class="fw-bold text-center mb-5">Welcome to this <strong>AML, CTF, PF</strong> Training Module</h1>
            <div class="d-flex gap-4">
                <div class="w-50">
                    <label>Country of Trainee</label>
                    <select class="form-select">
                        <option value="">Select Country</option>
                        <option value="UAE">UAE</option>
                        <option value="UK">UK</option>
                    </select>
                </div>
                <div class="w-50">
                    <label>Role</label>
                    <select class="form-select">
                        <option value="">Select Role</option>
                        <option value="Business">Business</option>
                        <option value="HR">HR</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-md-6 d-flex justify-content-center">
            <img src="../../assets/images/slide3img.jpg" alt="Slide" class="img-fluid rounded shadow-lg"
                style="max-height: 500px;">
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-end gap-3 mx-2">
        <button class="btn btn-primary text-light btn btn-primary" [routerLink]="['/slide2']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </button>
        <button class="btn btn-primary  text-light  btn btn-primary" [routerLink]="['/slide4']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg>
        </button>
    </div>
</div>