<div class="full-screen d-flex justify-content-center align-items-center">
  <div class="container-fluid gx-0">
    <h1 style="color: rgb(255, 165, 0)">
      Performance Fees Basic Concept – High Water Mark
    </h1>

    <div class="row w-100 align-items-center text-white px-5">
      <!-- Left Side: Title -->
      <div class="col-md-5 text-start slide-in-left">
        <h3><b>What Is a High-Water Mark?</b></h3>
      </div>

      <!-- Right Side: Description -->
      <div class="col-md-7 text-start ">
        <p class="line-animate delay-1">
         A high-water mark “HWM” is the highest peak in value that an investment fund or class has reached. 
        </p>
        <p class="line-animate delay-2">
          Typically it will be higher of 
        </p>
        <p class="line-animate delay-3">
         A. the high point reach at the end of a performance period   
        </p>
        <p  style="color: rgb(255, 165, 0)"class="line-animate delay-4 ">
        <b>Or</b>   
        </p>
        <p class="line-animate delay-5">
        A. The initial subscription amount   
        </p>
        <p class="line-animate delay-6">
         This term is often used in the context of fund manager compensation, which is performance-based. The high-water mark ensures the manager does not get paid if the fund/class doesn’t get above that level.   
        </p>
        <p class="line-animate delay-7">
         If the manager loses money over a period, he must get the fund above the high-water mark before receiving a performance fee from the assets under management (AUM).   
        </p>
      </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="d-flex align-items-center justify-content-end gap-3 mx-2">
        <button class="btn btn-primary text-light btn btn-primary" [routerLink]="['/slide6']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </button>
        <button class="btn btn-primary  text-light  btn btn-primary" [routerLink]="['/slide8']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg>
        </button>
    </div>
  </div>
</div>
