.full-screen{
     background-color: rgb(61, 61, 63);
    color: white;
    min-height: 100vh;
    min-width: 100vw; 
    text-align: center;
    /* padding: 40px; */
}
.container{
    display: flex;
    justify-content: center;
}
.chart-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  /* padding-top: 40px;  */
  font-family: Arial, sans-serif;
}

.bar {
  width: 80px;
  height: 200px;
  background-color: #b03a3a;
  border: 2px solid #eee;
  position: absolute;
  bottom: 60px;
  left: 60px;
}

.arrow-section {
  position: absolute;
  top: 10px;
  left: 60px;
  display: flex;
  align-items: center;
}
.text{
  text-align: left;
}

.arrow {
  width: 150px;
  height: 12px;
  background-color: black;
  position: relative;
  top:15px;
}
.smallarrow {
  width: 80px;
  height: 10px;
  background-color: black;
  position: relative;
  top: 100PX;
  /* left:0px; */
  right: -110px;
  z-index: 1;
}

.arrow::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -2px;
  width: 0;
  height: 10px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid black;
}

.arrow-text {
  margin-left: 0px;
  font-size: 16px;
  line-height: 1.4;
  top:100px;
}

.x-axis-labels {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s forwards;
  padding: 2rem;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.line-animate {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.line-animate.delay-1 {
  animation-delay: 0.5s;
}

.line-animate.delay-2 {
  animation-delay: 1s;
}

.line-animate.delay-3 {
  animation-delay: 1.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* for desktop view */
@media(min-width:992px){
    .full-screen{
        padding: 10px;
    }

}
/* for tablet view */
@media(min-width:768) and (max-width: 991px){
    .full-screen{
        padding: 10px;
    }
}
/* for mobile view */
@media(min-width:767px){
    .full-screen{
        padding: 10px;
    }
}