<div class="container-fluid">
    <div class="wrapper row">
        <!-- Toggle button for small screens -->
        <button class="btn btn-light d-md-none m-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
            aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            ☰ Menu
        </button>

        <!-- Sidebar -->
        <nav id="sidebar"
            class="collapse d-md-flex col-md-3 col-12 p-3 flex-column pt-3 justify-content-around align-items-center">

            <li class="formy-learning text-white d-flex flex-column align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor"
                    class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path
                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                </svg>
                <a class="For-home fs-6" href="/my-learning">My Learnings</a>
            </li>

            <li class="formy-learning text-white text-center">
                <a class="for-timline fs-6" href="#">Timeline</a>
            </li>

            <li class="formy-learning d-flex flex-column align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor"
                    class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5" />
                </svg>
                <a class="for-training fs-6" href="#">Training</a>
            </li>

            <li class="formy-learning d-flex flex-column align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor"
                    class="bi bi-calendar3" viewBox="0 0 16 16">
                    <path
                        d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
                    <path
                        d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                </svg>
                <a class="For-trainingschedule fs-6" href="#">Training Schedule</a>
            </li>
        </nav>

        <div class="col-md-9 col-12 p-4">

            <router-outlet>
                <!-- <app-my-learning></app-my-learning> -->
            </router-outlet>
        </div>
    </div>
</div>