<div class="full-screen d-flex justify-content-center align-items-center">
  <div class="container-fluid gx-0">
    <h1 style="color: rgb(255, 165, 0)">Knowledge Check</h1>

    <div class="row w-100 align-items-center text-white px-5">
      <h1>Scenario 1:</h1>

      <!-- Left -->
      <div class="col-md-5 text-start slide-in-left">
        <h2><b>What is Hurdle Rate?</b></h2>
      </div>

      <!-- Right -->
      <div class="col-md-7 text-start">
        <p class="line-animate delay-1">
          Fund ABC has a HWM of $15.00. The GAV calculated for the current performance fee cycle is $18.00.<br>
          Is the fund in performance?
        </p>

        <!-- Yes/No Buttons -->
        <div class="d-flex gap-3 mt-3">
          <button class="btn btn-outline-light" [ngClass]="{ 'active': selectedAnswer === 'Yes' }"
            (click)="selectAnswer('Yes')">Yes</button>
          <button class="btn btn-outline-light" [ngClass]="{ 'active': selectedAnswer === 'No' }"
            (click)="selectAnswer('No')">No</button>
        </div>
      </div>
    </div>

    <!-- Submit Button -->

    <div class="d-flex align-items-center justify-content-end gap-3 mx-2 mt-4">
      <button class="btn btn-primary text-light btn btn-primary" [routerLink]="['/slide9']">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
        </svg>
      </button>
      <button class="btn btn-primary text-light" [disabled]="!selectedAnswer" (click)="submitAnswer()">
        Submit
      </button>
    </div>
  </div>
</div>