.full-screen {
  margin-top: 10;
  background-color: rgb(61, 61, 63);
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2 rem;
}

/* .fullscreen {
  /* background-color: #131842; *
  min-height: 100vh;
  /* display: flex; *
  align-items: center;
  justify-content: center;
} */

.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s forwards;
  padding: 2rem;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.line-animate {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.line-animate.delay-1 {
  animation-delay: 0.5s;
}

.line-animate.delay-2 {
  animation-delay: 1s;
}

.line-animate.delay-3 {
  animation-delay: 1.5s;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* for desktop view */
@media(min-width:992px){
    .full-screen{
        padding: 10px;
    }

}
/* for tablet view */
@media(min-width:768) and (max-width: 991px){
    .full-screen{
        padding: 10px;
    }
}
/* for mobile view */
@media(min-width:767px){
    .full-screen{
        padding: 10px;
    }
}