<div class="full-screen d-flex justify-content-center align-items-center">
    <div class="container-fluid gx-0">
        <h1 style="color: rgb(255, 165, 0)">
            Learning Objectives
        </h1>

        <div class="row w-100 align-items-center text-white px-5">
            <!-- Left Side: Title -->
            <div class="col-md-4 text-start slide-in-left">
                <h2><b>Objective is to understand briefly the below points:</b></h2>
            </div>

            <!-- Right Side: Description -->
            <div class="col-md-4 text-start">
                <p class="line-animate delay-1">
                    • What are performance fees?
                </p>
                <p class="line-animate delay-2">
                    • How they are they calculated?
                </p>
                <p class="line-animate delay-3">
                    • Contain features such as:
                <ol>
                    <li class="line-animate delay-4">High water marks</li>
                    <li class="line-animate delay-4">Hurdles</li>
                    <li class="line-animate delay-4">Crystallization</li>
                    <li class="line-animate delay-4">Benchmarks</li>
                </ol>


                <p class="line-animate delay-5">
                    • Performance fee accruals
                </p>
                <p class="line-animate delay-6">
                    • Practice Calculations
                </p>
                <p class="line-animate delay-7">
                    • Take-away activities
                </p>

            </div>

            <div class="col-md-4 ">
                <img class="w-100" src="../../assets/images/1.png">
            </div>
        </div>

        <!-- Navigation Buttons -->
        <div class="d-flex align-items-center justify-content-end gap-3 mx-2">
            <button class="btn btn-primary text-light btn btn-primary" [routerLink]="['/slide2']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </button>
            <button class="btn btn-primary  text-light  btn btn-primary" [routerLink]="['/slide5']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </button>
        </div>
    </div>
</div>