.slide1 {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/home1_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hometext {
  text-align: center;
}

.button-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 15px;
  
}
/* for desktop view */
@media(min-width:992px){
    .full-screen{
        /* padding: 10px; */
    }

}
/* for tablet view */
@media(min-width:768) and (max-width: 991px){
    .full-screen{
        /* padding: 10px; */
    }
}
/* for mobile view */
@media(min-width:767px){
    .full-screen{
        /* padding: 10px; */
    }
}