<!-- Full screen modal -->
<div class="full-screen container">
    <h1 class="text-center" style="color:rgb(255, 165, 0);">
        Congratulations you have completed this course!
    </h1>
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="thank-you-container">
            <!-- <h1 class="thank-you-text">Congratulations you have complited this course!</h1> -->
            <p class=" subtext text-center">We appreciate your submission.</p>
        </div>
    </div>
    <div class="mr-2 align-items-center"><span style="cursor: pointer; font-size: 25px; color: gray;">★</span><span
            style="cursor: pointer; font-size: 25px; color: gray;">★</span><span
            style="cursor: pointer; font-size: 25px; color: gray;">★</span><span
            style="cursor: pointer; font-size: 25px; color: gray;">★</span><span
            style="cursor: pointer; font-size: 25px; color: gray;">★</span>&nbsp;
        (5187)&nbsp;&nbsp;<button type="button" class="btn btn-light"
            style="border: none; background: none; padding: 0px; margin-top: -10px;"><svg stroke="currentColor"
                fill="currentColor" stroke-width="0" viewBox="0 0 512 512" color="gray" height="18" width="18"
                xmlns="http://www.w3.org/2000/svg" style="color: gray;">
                <path
                    d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                </path>
            </svg></button>
        <p class="text-success p-3"><i class="fa-solid fa-exclamation text-light"></i> Please rate</p>
    </div>


</div>