.full-screen {
  background-color: rgb(61, 61, 63);
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding: 2rem;
  box-sizing: border-box;
}

.text-center {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}

.thank-you-container {
  max-width: 600px;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}
/* for desktop view */
@media(min-width:992px){
    .full-screen{
        padding: 10px;
    }

}
/* for tablet view */
@media(min-width:768) and (max-width: 991px){
    .full-screen{
        padding: 10px;
    }
}
/* for mobile view */
@media(min-width:767px){
    .full-screen{
        padding: 10px;
    }
}
