<div class="full-screen d-flex justify-content-center align-items-center">
  <div class="container-fluid gx-0">
    <h1 style="color: rgb(255, 165, 0)">
      Performance Fees Basic Concept - Hurdle Rate
    </h1>

    <div class="row w-100 align-items-center text-white px-5">
      <!-- Left Side: Title -->
      <div class="col-md-5 text-start slide-in-left">
        <h2><b>What is Hurdle Rate?</b></h2>
      </div>

      <!-- Right Side: Description -->
      <div class="col-md-7 text-start">
        <p class="line-animate delay-1">
          A<b> hurdle rate</b>  is the minimum <b>rate</b> of return on fund required before the Investment Manager can become eligible for a performance fee.
        </p>
        <p class="line-animate delay-2">
          Treatment of hurdle rates can vary, so it's vital you read the exact wording in the fund documentation.
        </p>
        <p class="line-animate delay-3">
          Hurdles may reset, accumulate, compound, etc…
        </p>
      </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="d-flex align-items-center justify-content-end gap-3 mx-2">
        <button class="btn btn-primary text-light btn btn-primary" [routerLink]="['/slide10']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </button>
        <button class="btn btn-primary  text-light  btn btn-primary" [routerLink]="['/slide13']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg>
        </button>
    </div>
  </div>
</div>
